.farGalaxy {
    font-size: 1.5em;
    letter-spacing: 0.2em;
    line-height: 1.6;
    text-align: justify;
  }

  @media (max-width: 1200px) {
    .farGalaxy {
        font-size: 1.4em;
    }
}

@media (max-width: 992px) {
    .farGalaxy {
        font-size: 1.3em;
    }
}

@media (max-width: 768px) {
    .farGalaxy {
        font-size: 1.2em;
    }
}

@media (max-width: 576px) {
    .farGalaxy {
        font-size: 1em;
        letter-spacing: 0.1em;
    }
}